{% extends "::layout.html.twig" %}

{% block title %}{{ 'opened_list.tab_name'|trans({},'ticket') }}{% endblock %}
{% block body %}
    {% if resources is not empty %}
        <div class="container-fluid">
            <div class="row centered">
                <div class="col-md-5">
                    <div class="row list-filter">
                        <input id="filter" class="form-control" data-ajax-search="#"
                               placeholder="{{ 'FILTER: TYPE TITLE OR DESCRIPTION'|trans({},'ticket') }}">
                    </div>
                    <div class="row">
                        {% include ':ticket:list.html.twig' with { 'tickets':resources } %}
                    </div>
                </div>
                <div class="col-md-1 list-gap">lnsalkdn</div>
               <div class="col-md-5">{#show-container-wrapper#}
                       <div class="show-container"  style="display: none;">


                       </div>
                   </div>
               </div>
            </div>
        </div>
    {% endif %}
{% endblock %}